<footer class="mt-24 bg-gray-900 sm:mt-12">
    <div class="mx-auto max-w-md py-12 px-4 overflow-hidden sm:max-w-3xl sm:px-6 lg:max-w-7xl lg:px-8">
        <div class="mt-8 flex justify-center space-x-6">
            <a href="#" class="text-gray-400 hover:text-gray-300">
                <span class="sr-only">Facebook</span>
                {% include 'svg/facebook.html' %}
            </a>

            <a href="#" class="text-gray-400 hover:text-gray-300">
                <span class="sr-only">Twitter</span>
                {% include 'svg/twitter.html' %}
            </a>

            <a href="https://github.com/giunashvili/composertrends" target="_blank" class="text-gray-400 hover:text-gray-300">
                <span class="sr-only">GitHub</span>
                {% include 'svg/github.html' %}
            </a>
        </div>
        <p class="mt-8 text-center text-base text-gray-400">
            &copy; 2022
            <a class="text-blue-400 hover:underline" target="_blank" href="https://twitter.com/g_giunashvili">@giunashvili</a>, All rights reserved.
        </p>
    </div>
</footer>
