<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ComposerTrends</title>
    <link rel="stylesheet" href="/static/css/app.css">
    <link rel="icon" href="https://getcomposer.org/favicon.ico">
</head>
<body class="flex flex-col justify-between h-screen">
    <main class="flex justify-center items-center w-full h-full">
        <div class="flex flex-col items-center">
            <a href="/" class="w-44 h-56 relative">
                <img class="transition opacity-100 hover:opacity-0 w-44 absolute left-0 top-0" src="https://getcomposer.org/img/logo-composer-transparent5.png" />
                <img class="transition opacity-0 hover:opacity-100 w-44 absolute left-0 top-0" src="https://getcomposer.org/img/logo-composer-transparent2.png" />
            </a>
            <h1 class="mt-10 text-4xl font-extrabold text-gray-900 text-center">
                ComposerTrends
            </h1>
            <p class="mt-6 text-xl text-gray-500">
                Search and find a composer package for your next-big-idea project 👊
            </p>
        </div>
    </main>
    {% include 'components/footer.html' %}
</body>
</html>